# Python
__pycache__/
*.pyc
*.db
*.db-*
.venv/
env/

# Node
node_modules/
dist/
.eslintcache

# Secrets & Environment
.env
# Ignore all JSON files to prevent leaking service account keys
*.json
credentials/
# If you have specific JSON configs that NEED to be tracked, include them explicitly with !
# !config.json

# Large files
cis-4360_project.zip
Hageman_FinalPresentation.mp4

# OS specific
.DS_Store
Thumbs.db
